# Python
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env
.env.local

# Virtual Environments
venv/
.venv/
env/

# IDEs
.idea/
.vscode/

# Distribution / Build
build/
dist/
*.egg-info/

# Logs
*.log

# Pytest
.pytest_cache/

# OS
.DS_Store
Thumbs.db
